
<h2 class=capt>Kundenerfolgsrechnungen als Instrument der Kundenwertanalyse im Industriegüterbereich</h2>
<hr />

<div id="picfloat">
  <%= link_to (image_tag "foto_diss.jpg", width: '90px'), "https://www.verlagdrkovac.de/978-3-8300-8185-2.htm/", target: "_blank" %>
</div>

<p>Praktische Problemstellungen der Kundenwertanalyse zeichnen sich durch eine Vielzahl an Bewertungskriterien aus.
   Insbesondere im Industriegüterbereich sind die verbreiteten Umsatzanalysen aufgrund der zahlreichen Interaktionen zwischen Anbieter und Nachfrager um kundenspezifische Kosten zu ergänzen.
 Tobias Guggemos wendet die Idee der Opportunitätskosten auf den kundenbezogenen Kontext an, um den Verbrauch bzw. die Beanspruchung knapper und kurzfristig nicht veränderbarer Kapazitäten, wie z.B. bestimmte Personalressourcen, entscheidungsorientiert zu bewerten sowie Informationen für die operative Steuerung von Kundenbeziehungen bereitzustellen.</p>

 <h2 class=capt>Produktivität von Dienstleistungen: Interaktionseffizienz im Beziehungslebenszyklus (INTER|CYCLE)
</h2>
 <hr />

 <div id="picfloat">
   <%= link_to (image_tag "Prod.jpg", width: '90px'), "https://link.springer.com/chapter/10.1007/978-3-658-04086-4_6", target: "_blank" %>
 </div>
<p>Autoren: Tobias Guggemos, Andreas Hoffjan, Irina Hoof, Isabelle Kes, Fabian Kothe, David M. Woisetschläger.</p>
<p>Das effiziente Management von Kundenbeziehungen stellt für Dienstleistungsanbieter eine große Herausforderung dar.
  Der vorliegende Beitrag liefert einen Überblick der Ergebnisse des Forschungsprojekts INTER|CYCLE, in dem Optimierungspotenziale in der Interaktion mit Kunden entlang des Kundenlebenszyklus untersucht wurden.
  Für die Phasen der Neukundenakquisition, des Erhalts und Ausbaus von Kundenbeziehungen sowie der Reaktivierung und Rückgewinnung von Kunden wurden Studien durchgeführt, deren Ergebnisse Methoden und Stellhebel aufzeigen, wie Dienstleister Kundenbeziehungen effektiv und gleichermaßen effizient gestalten können. Ausgehend von den Projektergebnissen werden weitere Herausforderungen für das Management und Controlling von Kundenbeziehungen identifiziert.</p>



 <h2 class=capt>Kundenbewertungen in kleinen und mittelständischen Unternehmen im Business-to-Business-Bereich</h2>
 <hr />

 <div id="picfloat">
   <%= link_to (image_tag "CO.JPG", width: '90px'), "https://elibrary.vahlen.de/10.15358/0935-0381-2012-7-379/kundenbewertungen-in-kleinen-und-mittelstaendischen-unternehmen-im-business-to-business-bereich-jahrgang-24-2012-heft-7?page=1", target: "_blank" %>
 </div>

<p>Der vorliegende Beitrag stellt die Ergebnisse einer empirischen Erhebung zum Stand der Kundenbewertungen in kleinen und mittelständischen Unternehmen im Business-to-Business-Bereich dar.
  Aus den Ergebnissen können Unternehmen Anhaltspunkte für die praktische Gestaltung von Kundenwertanalysen ableiten.
  Die Studie zeigt, dass der Kundenbewertung eine hohe Bedeutung zukommt.
  Dennoch erfassen die Informationssysteme nur die wenigsten Determinanten des Kundenwertes.</p>

  <h2 class=capt>Strategieimplementierung mit der Balanced Scorecard und
der multikriteriellen Entscheidungstheorie</h2>
  <hr />

  <div id="picfloat">
    <%= link_to (image_tag "dipl.JPG", width: '90px'), "http://www.shaker.nl/Online-Gesamtkatalog-Download/2018.06.19-21.21.03-2.204.165.246-rad98160.tmp/3-8440-1000-9_INH.PDF", target: "_blank" %>
  </div>
<p>In: Wirtschaftsinformatik, Entscheidungstheorie und -praxis.
  Ausgewählte Beiträge des gemeinsamen Workshops der GOR-Arbeitsgruppen 2011.</p>
<p>Herausgeber: Martin Josef Geiger, Jutta Geldermann, Stefan Voß.</p>



<h1></h1><br />
<h1></h1><br />
<h1></h1><br />
<h1></h1><br />
<h1></h1>
