
<h2 class=capt>Kundenerfolgsrechnungen als Instrument der Kundenwertanalyse im Industriegüterbereich</h2>
<hr />

<div id="picfloat">
  <%= link_to (image_tag "foto_diss.jpg", width: '90px'), "https://www.verlagdrkovac.de/978-3-8300-8185-2.htm/", target: "_blank" %>
</div>

<p>Praktische Problemstellungen der Kundenwertanalyse zeichnen sich durch eine Vielzahl an Bewertungskriterien aus.
   Insbesondere im Industriegüterbereich sind die verbreiteten Umsatzanalysen aufgrund der zahlreichen Interaktionen zwischen Anbieter und Nachfrager um kundenspezifische Kosten zu ergänzen.
 Tobias Guggemos wendet die Idee der Opportunitätskosten auf den kundenbezogenen Kontext an, um den Verbrauch bzw. die Beanspruchung knapper und kurzfristig nicht veränderbarer Kapazitäten, wie z.B. bestimmte Personalressourcen, entscheidungsorientiert zu bewerten sowie Informationen für die operative Steuerung von Kundenbeziehungen bereitzustellen.</p>








<h1></h1><br />
<h1></h1><br />
<h1></h1><br />
<h1></h1><br />
<h1></h1><br />
<h1></h1><br />
<h1></h1><br />
<h1></h1><br />
<h1></h1><br />
<h1></h1><br />
<h1></h1>
