
<h2 class=capt>Window sharing</h2>
<hr />
<p>Digitization of car windows.</p>
<p>Imagine your car windows are able to display digital content - potentially location-based. Huuuuge!!!</p>
<p>Photo from project start during summer 2017.</p>

<%= link_to (image_tag "windowsharing.JPG", width: '500px'), @insta, target: "_blank" %>

<h2 class=capt>Let's get it started!</h2>
<hr />
<p>Going live in June 2018.</p>





<h1></h1><br />
<h1></h1><br />
<h1></h1><br />
<h1></h1><br />
<h1></h1><br />
<h1></h1><br />
<h1></h1><br />
<h1></h1><br />
<h1></h1><br />
<h1></h1><br />
<h1></h1>
